body {
  background-color: #010b2f;
  font-family: "Press Start 2P", cursive;
  color: #e2eefa;
}
/* Configuraçao Tamanho Conteiner */
.bg-img,
.container {
  width: 420px;
  position: relative;
}
#canvas,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerBtnInitialPage {
  position: absolute;
  top: 350px;
}

#triesNumber,
#tries,
#word,
.title,
.category,
.buttonLabel,
.containerBtnInitialPage {
  z-index: 1;
}
#btnTime:hover,
#btnAnimal:hover,
#btnEsportes:hover,
.button-desistir:hover,
.button-reiniciar:hover {
  background-color: #e2eefa;
  color: #010b2f;
}
#triesNumber,
#canvas,
#tries,
#word,
.title,
.category,
.buttonLabel,
.button-desistir,
.button-reiniciar {
  position: absolute;
}
.btnCategories,
.button-desistir,
.button-reiniciar {
  background-color: #010b2f;
  color: #e2eefa;
  border-color: #e2eefa;
  box-shadow: 5px 5px 0px 2px rgba(255, 255, 255);
  -webkit-box-shadow: 5px 5px 0px 2px rgba(255, 255, 255);
  -moz-box-shadow: 5px 5px 0px 2px rgba(255, 255, 255);
}
.button-desistir,
.button-reiniciar {
  top: 600px;
}
/* .button-desistir a,
.button-reiniciar a,
.containerBtnInitialPage a {
  text-decoration: none;
  color: #e2eefa;
} */
.btnInputLetter,
.btnVerificar {
  font-size: 0.6rem;
}

#canvas {
  width: 80px;
  height: 80px;
  top: 195px;
  z-index: 0;
}
#tries {
  top: 360px;
  color: #d00000;
  letter-spacing: 7px;
}
#word {
  top: 500px;
}
#triesNumber {
  top: 530px;
}
.bg-img {
  /* width: 100%; */
  /* width: 420px; */
  /* position: relative; */
  top: -120px;
  /* left: 0; */
  /* z-index: 0; */
}
.title {
  top: 40px;
  font-size: 2rem;
}
.category {
  font-size: 1.5rem;
  top: 330px;
}
.buttonLabel {
  top: 410px;
  width: 200px;
  height: 40px;
}
.button-desistir {
  right: 240px;
}
.button-reiniciar {
  left: 220px;
}
